.header{
    display: flex;
    position: sticky;
    top:0;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.1px solid gray;
    width: 100%;
    background-color: white;
    z-index: 999;
}
.header__left>img{
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}
.header__left{
    display: flex;
    width: 20%;
}
.searchbar{
    padding: 10px;
    size: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    color: gray;
    height: 20px;
    background-color:#eef3f8;
    border-radius: 5%;
}
.searchbar>input{
    border: none;
    outline: none;
    background: none;
    size: 1.2rem;
}
.header__right{
    display: flex;
}